@{
    ViewData["Title"] = "About";
}
<h3>SeekAndFind</h3>
<h3>@ViewData["Message"]</h3>

<br />
<br />
<hr />

<p>SeekAndFind okuplja na jedno mjesto one koji traže radnu snagu uz obuku kandidata i one koji žele praksu. Ova aplikacija aplikantima omogućava da brže i lakše pronađu praksu te da na jednom mjestu prikupe informacije o mjestima koja nude praksu od interesa, u poređenju sa tradicionalnim i konsekventnim pristupom koji uključuje novinsko oglašavanje ili ured za zapošljavanje. Online zapošljavanje nudi veću kontrolu, praćenje i upravljanje aktivnostima, kao i automatizirane i konkurentne procese. Pored toga, poslodavcima koji traže radnike daje prostor za neograničen broj oglasa na koje se korisnici mogu prijaviti, bez potrebe za velikom količinom formalnosti koje konvencionalni pristup podrazumijeva. Ova aplikacija pomaže poslodavcima da naprave brži odabir kandidata uz automatizirano obavještavanje kandidata koji zadovoljavaju kriterije oglasa</p>

<br />
<br />
<hr />