@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CSharks<br />
    Sarajevo, Zmaja od Bosne 9<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Podrska:</strong>
    <br />
    <hr />
    <li><a href="mailto:abalic2@etf.unsa.ba">abalic2@etf.unsa.ba</a><br /> </li>
    <li><a href="mailto:zascerija1@etf.unsa.ba">zascerija1@etf.unsa.ba<br /> </li>
    <li><a href="mailto:mramic1@etf.unsa.ba">mramic1@etf.unsa.ba<br /> </li>
    <br />
    <hr />


</address>
