@model SeekAndFind.Models.Korisnik

@{
    ViewData["Title"] = "Login";
}



<h2>Login</h2>

<div>
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" name="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Sifra" type="password" name="sifra" class="form-control" placeholder="Sifra" />
                <span asp-validation-for="Sifra" class="text-dange"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn" />
            </div>
        </form>

    </div>
</div>
@if (ViewBag.Log != null)
{
    <h4>
        @ViewBag.Log
    </h4>
}
